In [ ]:
a=input("enter 2 numbers")
b=input()
print("1st number entered is   "+str(a)+"  and second number entered is "+str(b))

enter 2 numbers5
6
1st number entered is   5  and second number entered is 6

In [ ]:
a=input("enter 2 numbers")
b=input()
sum=int(a)+int(b)

print("sum of the 2 number is")
print(str(sum))

enter 2 numbers5
6
sum of the 2 number is
11

In [ ]:
# product using the input
a=input("enter any 2 numbers:")
b=input()
mul=int(a)*int(b)
print("product of the 2 numbers you entered is "+str(mul))

enter any 2 numbers:9
20
product of the 2 numbers you entered is 180

In [ ]:
#average of 3 numbers
a=input("3 number adikk muthe:")
b=input()
c=input()
avg=(int(a)+int(b)+int(c))/3
print("average of the 3 numbers is :"+str(avg))

enter the 3 numbers:8
9
4
average of the 3 numbers is :7.0

In [ ]:
#swapping of the 2 numbers
a=10
b=20

temp=a
a=b
b=temp
print("1st number is   "+str(a)+   "   and 2nd number is "+str(b))

1st number is   20   and 2nd number is 10

In [ ]:
# determining type
a=50
type(a)
print(type(a))

<class 'int'>

In [ ]:
#length of the string
a="how are you"
print(len(a))

11

In [ ]:
#factorial program
a=input(" oru number adikk muthe:")
fact=1
for i in range(1,int(a)+int(1)):
  fact=fact*i
print(int(fact))

 oru number adikk muthe:5
120

In [ ]:
# retrieving the elements of the string
a="pandi karimpara"
print(a[7])
print(a[6])
print(a[3])

a
k
d

In [ ]:
# list (we cannot alter the position of the list elements)
list=["rithul","amarnath","akash","drishyap","mambu","vyshagh"]
print(list)
print(list[3])
list[3]="pandi"
list[4]="karimpara"
print(list)
print(len(list))
print(list[-1])
print(list[-2])
print(list[2:])

['rithul', 'amarnath', 'akash', 'drishyap', 'mambu', 'vyshagh']
drishyap
['rithul', 'amarnath', 'akash', 'pandi', 'karimpara', 'vyshagh']
6
vyshagh
karimpara
['akash', 'pandi', 'karimpara', 'vyshagh']

In [ ]:
#adding one list with another list
list1=["pandi","karimpara","polayadi","mone"]
print(list1)
list2=["adichu","keri","vaa"]
print(list2)
list1=list1+list2
print(list1)

['pandi', 'karimpara', 'polayadi', 'mone']
['adichu', 'keri', 'vaa']
['pandi', 'karimpara', 'polayadi', 'mone', 'adichu', 'keri', 'vaa']

In [ ]:
#inputing the elements from keyboard for a list using appaend()
list=[]
a=input("enter the no of elements for the list")
for i in range(1,int(a)+1):
  b=input()
  list.append(b)
print(list)

enter the no of elements for the list3
amaran
go
school
['amaran', 'go', 'school']

In [ ]:
#conditional statements if else
num=input("enter a nummber")
if int(num)<0:
  print("the number is negetive")
elif int(num)==0:
  print("the number is zero")
else:
  print("the number is posetive")

enter a nummber0
the number is zero

In [ ]:
num=input("enter the number")
if int(num)%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter the number6
the number is even

In [ ]:
#printing star program
n=int(input("enter the number"))
for i in range(1,n+1):
  for j in range(1,i+1):
       print("*",end="")
  print("\n")

enter the number5
*

**

***

****

*****

In [ ]:
#menu problem  in a hotel
menu={"1.tea","2.coffee","3.dosa","4.biriyani","5.porotta"}
print(menu)
choice=int(input("enter your choice"))
if choice==1:
  print("you ordered tea")
elif choice==2:
  print("you ordered coffee")
elif choice==3:
  print("you ordered dosa")
elif choice==4:
  print("you ordered biriyani")
elif choice==5:
  print("you ordered porotta")
else:
  print("ordered item not in the hotel")

{'2.coffee', '1.tea', '3.dosa', '4.biriyani', '5.porotta'}
enter your choice6
ordered item not in the hotel

In [ ]:
# hotel problem using for
menu={"1.tea","2.coffee","3.dosa","4.biriyani","5.porotta"}
print(menu)
for i in range(1,6):
      choice=input("enter your choice:")
      if choice=="1":
         print("you ordered tea")
      elif choice=="2":
          print("you ordered coffee")
      elif choice=="3":
          print("you ordered dosa")
      elif choice=="4":
          print("you ordered biriyani")
      elif choice=="5":
          print("you ordered porotta")
      elif choice=="exit":
          print("order confirmed")
          break
      else:
        print("ordered item not present")

{'2.coffee', '1.tea', '3.dosa', '4.biriyani', '5.porotta'}
enter your choice:2
you ordered coffee
enter your choice:5
you ordered porotta
enter your choice:3
you ordered dosa
enter your choice:exit
order confirmed

In [ ]:
# star
row=int(input("Enter the row:"))
a=" * "
count=1
while row>0:
   print(" "*row+a *count)
   row=row-1
   count=count+1

Enter the row:5
      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *

In [ ]:
menu={"1.tea","2.coffee","3.dosa","4.biriyani","5.porotta"}
print(menu)
for i in range(1,6):
      choice=input("enter your choice:")
      if choice=="1":
         print("you ordered tea")
      elif choice=="2":
          print("you ordered coffee")
      elif choice=="3":
          print("you ordered dosa")
      elif choice=="4":
          print("you ordered biriyani")
      elif choice=="5":
          print("you ordered porotta")
      elif choice=="no":
          print("order confirmed")
          break
      else:
        print("ordered item not present")

In [ ]:
menu=["1.Dosa","2.Idli","3.Juice","4.Rice"]
print(menu)

for i in range(0,10):
 choice=input("Enter your choice")
 if choice=="1":
    print("your order: Dosa")
 elif choice=="2":
   print("your order: Idli")
 elif choice=="3":
   print("your order: Juice")
 elif choice=="4":
   print("your order: Rice")
 elif choice=="no":
   print("order confirmed")
   break
 else:
  print("Invalid choice")

['1.Dosa', '2.Idli', '3.Juice', '4.Rice']
Enter your choice1
your order: Dosa
Enter your choice2
your order: Idli
Enter your choiceno
order confirmed